// Container's maximum width

$max-width: 1196px !default;

// Breakpoints

$bp-small: 375px;
$bp-middle: 768px;
$bp-large: 1023px;

// Colors

$color-main-bg: #131417;
$color-menu-inner-bg: #252830;

$color-main: #ffffff;
$color-menu: #fafafa;
$color-menu-hover: #eb5757;
