@use "../abstracts";

body {
  font-family: abstracts.$font-family-main;
  font-size: abstracts.$font-size-main;
  font-weight: abstracts.$font-weight-regular;
  line-height: abstracts.$line-height-main;
}
